<?xml version="1.0"?>
<launch>

<arg name="ns"        default="/"/>

 <!-- small description about your node -->
<rosparam command="load" file="$(find battery_mockup)/ros/config/config_battery_mockup.yaml" />
<!-- 
<arg name="nr" default="0"/> 
<group ns="$(eval 'robot_' + str(arg('nr')))">
    <node pkg="battery_mockup" type="battery_mockup_node" name="battery_mockup"
     respawn="false" output="screen"/>
</group> -->

<node pkg="battery_mockup" type="battery_mockup_node" name="battery_mockup" ns="$(arg ns)" respawn="true" output="screen"/>

</launch>
